// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #8ac6d1;
$yellow: #FFC65A;
$orange: #E67E22;
$gray: #0E0000;
$light-gray: #F4F4F4;
$beige: #fae3d9;
$lightblue: #bbded6;
$rosa: #ffb6b9;
$green: #1EDD88;
