#h1-gs{
  color: #0E0000;
  text-align: center;
  margin: 20px;
  font-family: "Prompt", "sans-serif";
  opacity: .7;
  font-size: 1.75rem;
}
.buttons-gs-all{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 600px;

}
