// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-position: center;
  padding: 90px 0;
}

.banner h1 {
  margin: 0;
  color: #8ac6d1;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.2);
  font-size: 100px;
  font-weight: bold;
  font-family: 'Pattaya', sans-serif;
}

.banner p {
  font-size: 24px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-family: 'Prompt', sans-serif;
}

body {
  background-color: #faf1e6;
}

.home-body {
  margin: 20px;
}


.loginforms {
  width: 400px;
  text-align: center;
  margin: 0 auto;
}

.backlink {
  margin: 20px;
}

.fas {
  color: gray;
  font-size:24px;
  text-shadow: 1px 1px 3px #F4F4F4;
}

.search {
  margin: 30px;
}

.card-product {
  margin: 10px;
}

.grid-container {
  margin: 20px;
}

.form-inline {
  display: inline-block;
}

.instructions {
  margin: 30px;
  font-size: 18px;
  font-family: 'Prompt', sans-serif;
  opacity: .8;
}
