.show-card {
    top: 40px;
    position: sticky;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 85vh;
    width: 600px;
}

.show-img {
    overflow: hidden;
    height: 100%;
    width: 45%;
    align-items: center;
}

.show-card-infos {
    font-size: 18px;
}

.show-card-infos h2 {
    font-weight: bold;
    font-size: 24px;
}

.show-card-infos h3 {
    font-size: 20px;
}

.show-card-infos p {
    opacity: 0.7;

}
