<% if(@user.id == current_user.id) %>
  <h1>My favourites yarns</h1>
  <% @fav = Favourite.where(user: current_user) %>
  <% @fav.each do |fav| %>
    <%= render 'shared/yarn', yarn: fav.yarn %>
  <% end %>
<% else %>
  <h1>Acesso Negado!</h1>
<% end %>
