<div class="footer" id="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
    </div>
    <div class="footer-info">
 This app is proudly presented by Lorena, Thiago and Mariana - LeWagon Brasil Batch #536
    </div>
</div>
