<footer>
  <div class="footer" id="footer">
    <div class="footer-links">
      <a href="https://www.instagram.com/yarnalt/" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://www.facebook.com/loveyarnalt/" target="_blank"><i class="fab fa-facebook"></i></a>
      <a href="https://twitter.com/YarnAlt" target="_blank"><i class="fab fa-twitter"></i></a>
    </div>
    <div class="footer-info">
<!--   This app is proudly presented by Lorena, Thiago and Mariana - LeWagon Brasil Batch #536 -->
Good things come to those who wait.
    </div>
  </div>
</footer>
