<div class="search">
  <%= form_tag yarns_path, method: :get, class:"form-inline" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a yarn"
  %>
  <%= select_tag(:option_id, options_for_select([['Options', 1], ['Weight', 2], ['Needles', 3], ['Gauge', 4]]), class: "form-control") %>

  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
</div>
