<h1 id="h1-gs">My gauges swatches</h1>

<div class="grid-container">
  <% unless (@my_gauge == []) %>
      <% @my_gauge.each do |gauge_swatch| %>
          <div class="card-product">
            <%= cl_image_tag gauge_swatch.image_url.key, height: 300, width: 400, crop: :fill %>
            <div class="card-product-infos">
              <p>Gauge: <%= gauge_swatch.gauge %></p>
              <p>Needle: <%= gauge_swatch.needles %></p>
              <%= link_to "Open this swatch", gauge_swatch_path(gauge_swatch) %>
            </div>
          </div>
      <% end %>
  <% end %>
</div>
