<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dzuoumhdx/image/upload/v1620813457/swatch_img_netfll.jpg);">
  <div class="container">
    <h1><strong>YarnAlt</strong></h1>
    <p>Find yarn alternatives to your projects</p>
  </div>
</div>



<p>Find me in app/views/pages/home.html.erb</p>


  <h2>This is the body of my homepage</h2>


<div class="grid-container">
<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2>Yarn name</h2>
    <h3>Brand</h3>
    <p><strong>Weight: </strong> info</p>
    <p><strong>Gauge: </strong> info</p>
    <p><strong>Fiber: </strong> info</p>
    <p><strong>Needles: </strong> info</p>
    <p>More info...</p>
  </div>

</div>
</div>

