<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dzuoumhdx/image/upload/v1620813457/swatch_img_netfll.jpg);">
  <div class="container">
    <h1><strong>YarnAlt</strong></h1>
    <p>Find yarn alternatives to your projects</p>
  </div>
</div>



<p>Find me in app/views/pages/home.html.erb</p>

<h2>This is the body of my homepage</h2>
