.navbar-lewagon {
  justify-content: space-between;
  background-color: #ffb6b9;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.navbar-brand h1 {
  font-family: 'Pattaya', sans-serif;
  font-size: 32px;
  color: beige;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.nav-item {
  font-size: 11px;
  font-family: 'Prompt', sans-serif;
  opacity: .4;
  margin-right: 5px;
}
